# Solution for LASSO Students

In [2]:
"""
>>> pairs_for(['Andrea', 'Bob', 'Cassandra', 'Doug'])
# [[('Bob', 'Cassandra'), ('Andrea', 'Doug')],
#  [('Andrea', 'Bob'), ('Cassandra', 'Doug')],
#  [('Andrea', 'Cassandra'), ('Bob', 'Doug')]]
"""


def pairs_for(names):
    n = len(names)
    
    # Need an even number of students, otherwise, we'll have a "need-to-assign" person
    assert n % 2 == 0
    
    result = []
    first = names[:n // 2]
    second = names[n // 2:]
    
    # Everyone needs to be able to meet with everyone else (n - 1)
    for _ in range(n - 1):
        second.append(first.pop())
        first.insert(1, second.pop(0))
        result.append(list(zip(first, second)))
        
    return result

In [3]:
students = '''Navish Agarwal
Andrew Auyeung
Ganesh Bala
Zachary Brandt
James Burns
Natarajan Chandrakumar
Natalie Chen
Jonathan Cosme
Joseph Cowell
Timothy Dooley
Mason Ellard
Max Gebhard
Zachary Greenberg
Drew Hibbard
Sunna Jo
Gavin Jones
Taeuk Kim
Ian Livingston
Bao Nguyen
Trisha Oiullette
J Brendan Patty
Meehir Pathare
Jason Pizzollo
Julia Qiao
Syed Razvi
Peter Scagnelli
Zachary Schaeffer
Lucie Schnitzer
Lewis Sears
Rami Subramaniam
Jennifer Sun
Anthony Tagliente
Viincent Thompson
Sibongile Toure
Collins Westnedge
Nick Wilders'''

# Turn this into a list
students = students.split('\n')

In [5]:
students[:3]

['Navish Agarwal', 'Andrew Auyeung', 'Ganesh Bala']

In [6]:
daily_pairs = pairs_for(students)

In [7]:
len(daily_pairs)

35

In [8]:
daily_pairs[0]

[('Navish Agarwal', 'Trisha Oiullette'),
 ('Bao Nguyen', 'J Brendan Patty'),
 ('Andrew Auyeung', 'Meehir Pathare'),
 ('Ganesh Bala', 'Jason Pizzollo'),
 ('Zachary Brandt', 'Julia Qiao'),
 ('James Burns', 'Syed Razvi'),
 ('Natarajan Chandrakumar', 'Peter Scagnelli'),
 ('Natalie Chen', 'Zachary Schaeffer'),
 ('Jonathan Cosme', 'Lucie Schnitzer'),
 ('Joseph Cowell', 'Lewis Sears'),
 ('Timothy Dooley', 'Rami Subramaniam'),
 ('Mason Ellard', 'Jennifer Sun'),
 ('Max Gebhard', 'Anthony Tagliente'),
 ('Zachary Greenberg', 'Viincent Thompson'),
 ('Drew Hibbard', 'Sibongile Toure'),
 ('Sunna Jo', 'Collins Westnedge'),
 ('Gavin Jones', 'Nick Wilders'),
 ('Taeuk Kim', 'Ian Livingston')]

### [More magic tips](https://stackoverflow.com/questions/21034373/how-to-load-edit-run-save-text-files-py-into-an-ipython-notebook-cell)

In [ ]:
# to output results from a .py file into a cell
# %run pair_demo.py

In [ ]:
# to load a .py file into a cell
#%load pair_demo.py

In [ ]:
%lsmagic